*{
    margin: 0px;
    padding:0px;
    font-family:黑体;
}
body{
    padding:20px;
}
div{
    border: 1px solid #999;
    background-color: white;
    padding: 20px;
}
img{
    width: 80px;
    height: 80px;
}

#page{
    background-color: #eee;
    overflow: auto;
}

#col_left{
    width: 160px;
    float: left;
    /*position: absolute;*/
    /*top:40px;*/
    /*left: 40px;*/
}
#col_right{
    width:80px ;
    float: right;
    /*position: absolute;*/
    /*top: 40px;*/
    /*right:40px;*/
}
#col_mid{
    margin-left: 260px;
    margin-right:180px;
}
.img_left{
    vertical-align:top;
}
.span_lefttxt{
    margin-left: 7px;
}
.img_right{
    display: block;
    margin:20px 0px;
}