.main-page {
  padding: 20px;
  .advance-options {
    border: 1px solid black;
    margin-top: 10px;
    padding:10px;
  }
  .content {
    display: flex;
    .content__source, .content__result {
      width: 0;
      flex-grow: 1;
      margin: 10px;
      textarea {
        width: 100%;
        height: 1000px;
      }
    }
  }
}


